body{

    padding: 0;
    margin: 0;

    height: 100vh;
    width: 100vw;

    background-color: antiquewhite; 

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

#general{

    width: 30em;
    height: 30em;

    background-color: red;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

#primerCirculo{

    height: 30em;
    width: 30em;
    border-radius: 50%;

    background-color: blue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#cajaPeque{

    height: 21em;
    width: 21em;

    
    background-color: yellow;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#segundoCirculo{

    background-color: greenyellow;
    border-radius: 50%;

    width: 20em;
    height: 20em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#cajaPeque2{

    height: 14em;
    width: 14em;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

#ultimaCaja{

    height: 13em;
    width: 13em;
    background-color: blanchedalmond;

    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#rectangulo{

    background-color: white;
    height: 7em;
    width: 10em;
}